<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" is="dmx-app" id="index" appConnect="local" bootstrap5="cdn" components="{dmxBootstrap5Toasts:{},dmxDataTraversal:{},dmxBootstrap5TableGenerator:{},dmxNotifications:{},dmxValidator:{}}" -->
<dmx-notifications id="notifies1"></dmx-notifications>
<dmx-serverconnect id="get_users" url="/api/users/get"></dmx-serverconnect>
<div is="dmx-bs5-toasts" id="toasts1"></div>
<meta name="ac:route" content="/">
<div class="container mt-5">
  <h3 class="fw-bold">Hello World</h3>

  <div class="row mt-3">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header fw-bold">Enter Data</div>
        <div class="card-body">
          <form id="user" is="dmx-serverconnect-form" method="post" action="/api/users/add" dmx-on:success="notifies1.success('User added');user.reset();get_users.load({})" dmx-on:error="notifies1.danger('Something went wrong')" dmx-on:invalid="notifies1.info('You need to enter data')">

            <div class="form-group md-3"> <label for="name" class="form-label">Your Name</label>
              <input type="text" class="form-control" id="name" name="name" aria-describedby="input2_help" placeholder="Enter some text" required="">
            </div>
            <div class="form-group md-3 mt-3"> <label for="email" class="form-label">Your Email</label>
              <input type="text" class="form-control" id="email" name="email" aria-describedby="input2_help" placeholder="Enter some text" required="" data-rule-email="">
            </div><button id="submit" class="btn btn-primary mt-4 mb-0" dmx-on:click="user.submit();get_users.load({},true)">Button</button>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <h4 class="fw-bold">Users:</h4>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="get_users.data.users" id="tableRepeat1">
          <tr>
            <td dmx-text="id"></td>
            <td dmx-text="name"></td>
            <td dmx-text="email"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>