<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" is="dmx-app" id="index" appConnect="local" bootstrap5="cdn" -->
<meta name="ac:route" content="/">
<div class="container">
  <div class="row">
    <div class="col">

      <h1>Hello World</h1>
      <p>A basic Wappler project to be deployed to Railway.&nbsp;</p>
      <p>This is a change to the development branch.</p>
      <p>Another change.</p>
      <p>Changed the app title</p>
    </div>
  </div>
</div>