<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" is="dmx-app" id="index" appConnect="local" bootstrap5="cdn" -->
<meta name="ac:route" content="/">
<div class="container mt-5">
  <div class="row">
    <div class="col">


      <h1>Hello World</h1>
      <p>A basic Wappler project to be deployed to Railway.&nbsp;</p>
      <p>This is a change to the development branch.</p>
      <p>Another change.</p>
      <p>Changed the app title</p>
      <ul class="list-group">
        <li class="list-group-item">
          <i class="fas fa-arrow-alt-circle-right fa-fw"></i> List item 1
        </li>
        <li class="list-group-item">
          <i class="fas fa-arrow-alt-circle-right fa-fw"></i> List item 2
        </li>
        <li class="list-group-item">
          <i class="fas fa-arrow-alt-circle-right fa-fw"></i> List item 3
        </li>
        <li class="list-group-item">
          <i class="fas fa-arrow-alt-circle-right fa-fw"></i> List item 4
        </li>
        <li class="list-group-item">
          <i class="fas fa-arrow-alt-circle-right fa-fw"></i> List item 5
        </li>
        <li class="list-group-item">
          <i class="far fa-arrow-alt-circle-right fa-fw"></i> List item 6 - comitted serparately
        </li>

      </ul>
    </div>
  </div>
</div>